.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.width-full {
  width: 100%;
}

.card{
  border: 1px solid #d0d0d0;
  padding:50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 2% 10% 5% 10%;
}
.m-t-10{
  margin-top:  10px;
}

input, textarea, button{
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 10px;
}

button{
  color: #282c34;
  cursor: pointer;
  font-weight: 600;
}

h4,.color-gray{
  color: #7b7a7a;
}

.App .text-align-left{
  text-align: left;
}

.active{
  background-color: yellow;
}
.m-r-5{
  margin-right: 5px;
}
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.bold{
  font-weight: 600;
}
.m-t-5{
  margin-top: 5px
}